In [1]:
c = [10,20,30,40,40,50,50]

In [2]:
c

[10, 20, 30, 40, 40, 50, 50]

In [4]:
c.count(40)

2

In [5]:
c.index(10)

0

In [6]:
c.index(40)

3

In [7]:
c.count(50)

2

In [8]:
tuple(c)

(10, 20, 30, 40, 40, 50, 50)

In [9]:
list(c)

[10, 20, 30, 40, 40, 50, 50]

In [10]:
c.length()

AttributeError: 'list' object has no attribute 'length'

In [11]:
a = 'rathi'

In [12]:
c = list(a)

In [13]:
c

['r', 'a', 't', 'h', 'i']

In [14]:
c.append()

TypeError: append() takes exactly one argument (0 given)

In [15]:
c

['r', 'a', 't', 'h', 'i']

In [23]:
d = ''

In [17]:
c.remove()

TypeError: remove() takes exactly one argument (0 given)

In [18]:
d = c

In [19]:
d

['r', 'a', 't', 'h', 'i']

In [20]:
c

['r', 'a', 't', 'h', 'i']

In [22]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [24]:
d.join(c)

'rathi'

In [25]:
c1 = "rathinavel"

In [27]:
d1 = list(c1)

In [28]:
d1

['r', 'a', 't', 'h', 'i', 'n', 'a', 'v', 'e', 'l']

In [29]:
e1 = ''

In [30]:
e1.join(d1)

'rathinavel'

In [31]:
a = 1,2,3

In [32]:
a

(1, 2, 3)

In [33]:
type(a)

tuple

In [34]:
type(d1)

list

In [35]:
my_dict{}

SyntaxError: invalid syntax (<ipython-input-35-de054850a66a>, line 1)

In [36]:
my_dict = {}

In [37]:
type(my_dict)

dict

In [38]:
len(my_dict)

0

In [39]:
my_dict['name'] = 'rathi'

In [40]:
my_dict

{'name': 'rathi'}

In [41]:
my_dict['age'] = 45

In [42]:
my_dict

{'name': 'rathi', 'age': 45}

In [43]:
my_dict['Gender'] = 'Male'

In [44]:
my_dict

{'name': 'rathi', 'age': 45, 'Gender': 'Male'}

In [45]:
my_dict['Occupation'] = 'Professional'

In [46]:
my_dict

{'name': 'rathi', 'age': 45, 'Gender': 'Male', 'Occupation': 'Professional'}

In [47]:
my_dict['loan status'] = 'Y/N'

In [49]:
my_dict

{'name': 'rathi',
 'age': 45,
 'Gender': 'Male',
 'Occupation': 'Professional',
 'loan status': 'Y/N'}

In [50]:
my_dict['status'] = 'yes'

In [51]:
my_dict

{'name': 'rathi',
 'age': 45,
 'Gender': 'Male',
 'Occupation': 'Professional',
 'loan status': 'Y/N',
 'status': 'yes'}

In [52]:
len(my_dict)

6

In [57]:
aa = {'name':['sita','rama','ravana','rathi'],
     'job':['dentist','analyst','manager','programmer'],
     'education':['BDS','MBA','MPH','BTech']}

In [58]:
aa

{'name': ['sita', 'rama', 'ravana', 'rathi'],
 'job': ['dentist', 'analyst', 'manager', 'programmer'],
 'education': ['BDS', 'MBA', 'MPH', 'BTech']}

In [59]:
aa['name']

['sita', 'rama', 'ravana', 'rathi']

In [60]:
aa['name'][-1][-1]

'i'

In [61]:
aa.keys()

dict_keys(['name', 'job', 'education'])

In [62]:
aa.values()

dict_values([['sita', 'rama', 'ravana', 'rathi'], ['dentist', 'analyst', 'manager', 'programmer'], ['BDS', 'MBA', 'MPH', 'BTech']])

In [63]:
aa.items()

dict_items([('name', ['sita', 'rama', 'ravana', 'rathi']), ('job', ['dentist', 'analyst', 'manager', 'programmer']), ('education', ['BDS', 'MBA', 'MPH', 'BTech'])])

In [70]:
set1 = {1,2,3.5,'hello',5000,1,200,1}

In [65]:
set1

{1, 2, 3.5, 5000, 'hello'}

In [66]:
type(set1)

set

In [67]:
len(set1)

5

In [68]:
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [71]:
set2 = {1,2,3.5,'hello',5000,1,200,1}

In [72]:
set1.intersection(set2)

{1, 2, 200, 3.5, 5000, 'hello'}

In [73]:
set1.pop()

1

In [74]:
set1.remove(3.5)

In [75]:
set1

{2, 200, 5000, 'hello'}

In [76]:
set1 = {1,2,3.5,'hello',5000,1,200,1,5000,5000}

In [77]:
list(set(set1))

[1, 2, 3.5, 'hello', 5000, 200]

In [78]:
set1.union(set2)

{1, 2, 200, 3.5, 5000, 'hello'}

In [79]:
set1.max()

AttributeError: 'set' object has no attribute 'max'

In [80]:
a = [100,200,300,500,600,800]

In [81]:
600 in a

True

In [82]:
1000 in a

False

In [83]:
b = ['python', 'juthon']

In [84]:
python in b

NameError: name 'python' is not defined

In [85]:
'p' in 'python'

True

In [86]:
600 not in a

False

In [87]:
h = 4

In [88]:
j = 6

In [89]:
i = 9

In [90]:
p = 80

In [91]:
k = 6

In [92]:
j==k

True

In [93]:
j is k

True

In [94]:
j not in k

TypeError: argument of type 'int' is not iterable

In [95]:
j is k

True

In [96]:
j is h

False

In [97]:
c = 1054

In [98]:
d = 1054

In [99]:
c is d

False

In [100]:
c = 256

In [101]:
d = 256

In [102]:
c is d

True

In [103]:
c = 257

In [104]:
d = 257

In [105]:
c is d

False

In [107]:
for i in [100,200,300,456]:
    print('hello')

hello
hello
hello
hello

In [111]:
for num in [1,2,3,4]:
    print(num**3)

1
8
27
64

In [112]:
for i in 'python':
    print('hi',i)

hi p
hi y
hi t
hi h
hi o
hi n

In [114]:
for i in ('rathinavel'):
    print('sir',i)

sir r
sir a
sir t
sir h
sir i
sir n
sir a
sir v
sir e
sir l

In [115]:
range(10)

range(0, 10)

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
list (range(1,100))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [119]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [120]:
list(range(2,100,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [123]:
list(range(3,100,5))

[3, 8, 13, 18, 23, 28, 33, 38, 43, 48, 53, 58, 63, 68, 73, 78, 83, 88, 93, 98]

In [126]:
for i in range (100):
    print('{}*{} = {}'. format (5,i,5*i))

5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50
5*11 = 55
5*12 = 60
5*13 = 65
5*14 = 70
5*15 = 75
5*16 = 80
5*17 = 85
5*18 = 90
5*19 = 95
5*20 = 100
5*21 = 105
5*22 = 110
5*23 = 115
5*24 = 120
5*25 = 125
5*26 = 130
5*27 = 135
5*28 = 140
5*29 = 145
5*30 = 150
5*31 = 155
5*32 = 160
5*33 = 165
5*34 = 170
5*35 = 175
5*36 = 180
5*37 = 185
5*38 = 190
5*39 = 195
5*40 = 200
5*41 = 205
5*42 = 210
5*43 = 215
5*44 = 220
5*45 = 225
5*46 = 230
5*47 = 235
5*48 = 240
5*49 = 245
5*50 = 250
5*51 = 255
5*52 = 260
5*53 = 265
5*54 = 270
5*55 = 275
5*56 = 280
5*57 = 285
5*58 = 290
5*59 = 295
5*60 = 300
5*61 = 305
5*62 = 310
5*63 = 315
5*64 = 320
5*65 = 325
5*66 = 330
5*67 = 335
5*68 = 340
5*69 = 345
5*70 = 350
5*71 = 355
5*72 = 360
5*73 = 365
5*74 = 370
5*75 = 375
5*76 = 380
5*77 = 385
5*78 = 390
5*79 = 395
5*80 = 400
5*81 = 405
5*82 = 410
5*83 = 415
5*84 = 420
5*85 = 425
5*86 = 430
5*87 = 435
5*88 = 440
5*89 = 445
5*90 = 450
5*91 = 455
5*92 = 460
5*93 = 465
5*94 = 470
5*95 = 475
5*96 = 480
5*97 = 485
5*98 = 490
5*99 = 495

In [127]:
a = 5

In [128]:
b = 5

In [129]:
c = 7

In [130]:
if a < c: print ('a is small')

a is small

In [131]:
if a < b: print ('a is small')

In [136]:
if a > c: print ('c is big')
    else: print ('c is small')

IndentationError: unexpected indent (<ipython-input-136-d8f2a7194f09>, line 2)

In [134]:
if c > a: print ('c is big')

c is big

In [139]:
for i in range (50):
    if i % 2 == 0:
        print (i**2)
    else:
        print('not divisible by 2')

0
not divisible by 2
4
not divisible by 2
16
not divisible by 2
36
not divisible by 2
64
not divisible by 2
100
not divisible by 2
144
not divisible by 2
196
not divisible by 2
256
not divisible by 2
324
not divisible by 2
400
not divisible by 2
484
not divisible by 2
576
not divisible by 2
676
not divisible by 2
784
not divisible by 2
900
not divisible by 2
1024
not divisible by 2
1156
not divisible by 2
1296
not divisible by 2
1444
not divisible by 2
1600
not divisible by 2
1764
not divisible by 2
1936
not divisible by 2
2116
not divisible by 2
2304
not divisible by 2

In [140]:
if a > c:
    print (' a is big')
elif a < b:
    print ('b is big')