In [15]:
d = {}
l = ['hello','world','rathi']
for i in l:
    d[i] = len(i)

In [6]:
a = 20
b = 20

In [7]:
a

20

In [8]:
a + b

40

In [9]:
a == b

True

In [10]:
a != b

False

In [16]:
set1 = {1,2,3,4,56,78,89}

In [20]:
set2 = {1,3,4,56,98}

In [18]:
set1.intersection(set2)

{1, 3, 4, 56}

In [21]:
set1.union(set2)

{1, 2, 3, 4, 56, 78, 89, 98}

In [22]:
set2.intersection(set1)

{1, 3, 4, 56}

In [24]:
range (10)

range(0, 10)

In [27]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [29]:
#functions *def key function
def my_sqr ():
    return 2**2

In [30]:
my_sqr()

4

In [31]:
a = my_sqr()

In [32]:
a

4

In [36]:
def my_poc ():
    print (2**2)

In [37]:
my_poc()

4

In [38]:
b = my_poc()

4

In [39]:
b

In [40]:
def my_jqr():
    print (3**5)

In [41]:
my_jqr()

243

In [42]:
c = my_jqr()

243

In [43]:
type(c)

NoneType

In [44]:
type(my_sqr)

function

In [47]:
#normal arguments
def my_ghf(x):
    return x**2

In [48]:
my_ghf(5)

25

In [49]:
a = my_ghf

In [50]:
a(6)

36

In [51]:
def my_sum(x,y):
    return x+y

In [52]:
my_sum(4,5)

9

In [53]:
#Default arguments

def my_val(x=5):
    return x**3

In [54]:
my_val()

125

In [55]:
my_val(8)

512

In [56]:
a = my_val

In [58]:
a(12)

1728

In [60]:
def my_val1 (x,y,z=7):
    if type (z) == int:
        return x+y+z
    else:
        print ('z is not an int')

In [62]:
my_val1(2,4)

13

In [63]:
my_val1(2,4,True)

z is not an int

In [66]:
def my_val1 (x,y,z=7):
    if type (z) == float:
        return x+y+z
    else:
        print ('z is not an int')

In [67]:
my_val1(2,4,2.5)

8.5

In [70]:
#keyword arguments

def my_val2 (x = 5, y = 0, z = 16):
    if type (z) == int:
        return x+y+z
    else:
        print ('z is not an int')

In [71]:
my_val2()

21

In [72]:
my_val2(y=78,x=21)

115

In [73]:
#Arbitary arguments (*x) - nothing but it's arbitary arguments

def my_sum1 (*x):
    return sum (x)

In [77]:
my_sum1(1,2,3,45,56,67,78,89,90,100)

531

In [78]:
type(my_sum1)

function

In [92]:
def my_sum2(z = 6,*x):
    print(z)
    return sum(x)
my_sum2(2,3,4,5,6)

2

18

In [99]:
** it converts as dict value so use "variable name.values". 
def my_add(**kw):
    print (kw)
    return sum(kw.values())
my_add(x=10, y=23, a=34, z=2.6)

{'x': 10, 'y': 23, 'a': 34, 'z': 2.6}

69.6

In [103]:
#Anonymous functions (lambda) is key function

a = lambda x: x**2

In [104]:
a(9)

81

In [105]:
b = lambda x,y: x+y

In [106]:
b (5,89)

94

In [107]:
c = lambda x,y,z: x=3,y=45,z=40

SyntaxError: can't assign to lambda (<ipython-input-107-e7425a4e9b8b>, line 1)

In [108]:
d = lambda *x : sum (x)

In [109]:
d(3,4,56,78,90,123)

354

In [ ]:
#lambda associated factors ("map,reduce,filter")

In [112]:
list (map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [114]:
list (map(lambda x,y: x+y,[1,2,3],[4,5,6]))

[5, 7, 9]

In [116]:
[i+j for i,j in zip ([1,2,3],[4,5,6])]

[5, 7, 9]

Use Lambda as a afunction and list of functions as a aSequence

In [19]:
def sums (x):
    return ( x ** 2)
def nums (x):
    return (x ** 3)

In [20]:
func = [sums, nums]
for r in range (5):
    value = map(lambda x: x(r), func)

In [21]:
value

In [10]:
sums (5)

125

In [11]:
nums (4)

256

In [27]:
def mymap [aFunc, aSeq]:
    result = []
    for x in aSeq: result.append(aFunc(x))
        return result

SyntaxError: invalid syntax (<ipython-input-27-0eb06aa0de6f>, line 1)

In [28]:
x,y = (2,3)

In [29]:
x+y

5

In [30]:
x*y

6

In [31]:
x**y

8

In [32]:
x-y

-1

In [33]:
x / y

0.6666666666666666

In [34]:
x % y

2

In [35]:
x

2

In [36]:
y

3

In [38]:
x,y,z = (1,2,3)

In [39]:
z

3

In [40]:
type(z)

int

In [41]:
z1 = 3.01

In [42]:
type(z1)

float

In [43]:
int(z1)

3

In [44]:
z2 = True

In [45]:
type(z2)

bool

In [46]:
bool(z1)

True