In [7]:
#comprehensions ** (letter) is a key function here

a_letters = []
for letter in 'RATHINAVEL':
    a_letters.append(letter)
print(a_letters)

['R', 'A', 'T', 'H', 'I', 'N', 'A', 'V', 'E', 'L']

In [9]:
# List Comprehension (** Another way)

b_letters = [letter for letter in 'RATHINAVEL']
print (b_letters)

['R', 'A', 'T', 'H', 'I', 'N', 'A', 'V', 'E', 'L']

In [14]:
# Lambda comprehension

c_letters = list(map(lambda x: x, 'RATHINAVEL'))
print(c_letters)

['R', 'A', 'T', 'H', 'I', 'N', 'A', 'V', 'E', 'L']

In [20]:
#conditional list comprehension

number_list = [x for x in range (25) if x % 2 == 0]

In [21]:
number_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [26]:
#Nested If list comprehension

num = [z for z in range (101) if z % 2 ==0 if z % 3 == 0]

In [27]:
num

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [34]:
#If else || list comprehension

obj_if = ['EVEN' if i % 2 == 0 else 'ODD' for i in range (15)]

In [35]:
obj_if

['EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN',
 'ODD',
 'EVEN']

In [39]:
#Nested Loop  || list comprehension

transpose = []
matrix = [[1,2,3,4],[5,6,7,8]]
for i in range (len(matrix[0])):
    transpose_row = []
    for row in matrix:
        transpose_row.append(row[i])
    transpose.append(transpose_row)
print(transpose)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [41]:
matrix = [[1, 5],[2, 6],[3, 7],[4, 8]]
transpose = [[row[i] for row in matrix] for i in range(2)]

In [42]:
transpose

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [3]:
gaja = []
items = [1,2,3,4,5]
for x in items:
    gaja.append(x + 2)

In [4]:
gaja

[3, 4, 5, 6, 7]

In [6]:
# map function applies a passed-in function to each item in an iterable object and returns a list containing all the function call results

nums = [2, 3, 4, 5, 6]

def sum (x):
    return ( x ** 3)

In [7]:
nums

[2, 3, 4, 5, 6]

In [8]:
list(map(sum, nums))

[8, 27, 64, 125, 216]

In [12]:
# lambda function
nums = [12,13,14,15,16]
list(map((lambda x: x ** 2), nums))

[144, 169, 196, 225, 256]

In [1]:
16 / 3

5.333333333333333

In [2]:
type(5.3)

float

In [3]:
float(16/3)

5.333333333333333

In [5]:
float(5.3)

5.3

In [9]:
#This is just comment not code!
print (7,2)

7 2

In [11]:
#comment 1
#comment 2

print (300)

300

In [14]:
2.5 * 7 + \
4

21.5

In [21]:
DRUVAN = []

In [19]:
"DRUVAN"[]

SyntaxError: invalid syntax (<ipython-input-19-5a3d225d577d>, line 1)

In [25]:
'DRUVAN'[4]

'A'

In [26]:
1 + 2

3

In [38]:
def sum (x):
    x = 67
    return (x)
sum (3)

67

In [28]:
sum (90)

67

In [29]:
sum

In [30]:
sum()

TypeError: sum() missing 1 required positional argument: 'x'

In [31]:
sum(x)

NameError: name 'x' is not defined

In [39]:
50 == 100 / 2

True

In [42]:
50 != 50

False

In [43]:
50 != 55

True

In [44]:
50 > 40

True

In [45]:
50 < 40

False

In [46]:
50 >= 50 + 45

False

In [47]:
50 <= 50 + 45

True

In [48]:
True and True

True

In [49]:
True and False

False

In [50]:
False and False

False

In [51]:
False and True

False

In [52]:
True and False or True

True

In [53]:
True or False

True

In [54]:
False or True

True

In [55]:
not False

True

In [56]:
not True

False

In [57]:
True not False

SyntaxError: invalid syntax (<ipython-input-57-c17218c8f79d>, line 1)

In [58]:
True and not True

False

In [59]:
True and False not True or False

SyntaxError: invalid syntax (<ipython-input-59-c1be8a569728>, line 1)

In [2]:
10 > 5 and 14 > 20

False

In [11]:
def comppare_no(y):
    if y > 5:
        return 'greater'
    elif y < 5:
        return 'lower'
    elif y < 0:
        return 'negative'
    elif y >= 5:
        return 'exact'
    else:
        return 'equal'

In [4]:
comppare_no(9)

'greater'

In [5]:
comppare_no(5)

'equal'

In [8]:
comppare_no(5)

'exact'

In [12]:
comppare_no(-5)

'lower'

#return statement example

In [12]:
def numer_up (z):
    taz = z + 10
    return 'outcome:'
    return taz

In [13]:
numer_up(10)

'outcome:'

#print statement example

In [16]:
def numer_up (z):
    taz = z + 10
    print ('outcome:')
    return taz

In [17]:
numer_up(20)

outcome:

30

In [1]:
round (3.67)

4

In [2]:
3**9

19683

In [3]:
pow (3,9)

19683

In [4]:
pow (4,4)

256

In [1]:
mine = {'rama': 'sita','a1':'rathinavel','a2':'saranya','a3':'prakash','a4':'senthil'}

In [2]:
mine['a1']

'rathinavel'

In [3]:
mine['a5'] = 'kumaravel'

In [4]:
mine

{'rama': 'sita',
 'a1': 'rathinavel',
 'a2': 'saranya',
 'a3': 'prakash',
 'a4': 'senthil',
 'a5': 'kumaravel'}

In [5]:
comp = {'Morgan STanley':45.56,'Goldman Sachs':247.65,'HSBC':646.35}

In [6]:
comp['Morgan STanley']

45.56

In [7]:
comp[1]

KeyError: 1

In [9]:
comp

{'Morgan STanley': 45.56, 'Goldman Sachs': 247.65, 'HSBC': 646.35}

In [10]:
comp.get(45.56)

In [11]:
comp.get('Morgan STanley')

45.56

In [12]:
comp['Morgan STanley']

45.56

In [13]:
comp['xyz']

KeyError: 'xyz'

In [17]:
print comp.get('coach')

SyntaxError: invalid syntax (<ipython-input-17-7e9c2f6787c0>, line 1)

In [24]:
(age,year,price) = '23,2017,980'.split (',')

In [25]:
age

'23'

In [26]:
year

'2017'

In [27]:
price

'980'

In [28]:
type(age)

str

In [29]:
len(age)

2

In [30]:
len(year)

4

In [10]:
event = [1,21,311,4111,51111,611111,7111111,81111111,911111111,10111111,1111111,121111,13111,4111,411,41,4]

In [11]:
for n in event:
    print (n)

1
21
311
4111
51111
611111
7111111
81111111
911111111
10111111
1111111
121111
13111
4111
411
41
4

In [23]:
for n in event:
    print (n),

1
21
311
4111
51111
611111
7111111
81111111
911111111
10111111
1111111
121111
13111
4111
411
41
4

In [25]:
x = 0
while x <= 30:
    print (x),
    x = x + 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
x = 0
while x <= 30:
    print (x),
    x += 2